*{
	font-family: 'Montserrat'
}
.navbar{
	background-color: $color-cafe;
	border-radius: 0;
	margin-bottom: 0;
	.nav{
		padding-left: 420px;
	}
}

.navbar-default .navbar-nav>li>a{
	color: white;
}
.navbar-default .navbar-nav>li>a:hover{
	color: $color-cafe-claro;
}

#carrusel{
	border-bottom: 2px solid $color-cafe;
}

#tratamientos{
	background-color: #eeefbf;
	padding-bottom: 70px;
	img{
		margin-top: -70px;
		border: 10px solid $color-cafe-claro;
	}
	h4{
		font-weight: bolder;
	}
	p{
		text-align : justify;
	}
	a{	
		padding: 10px;
		color: $color-cafe;
		background-color: $color-cafe-claro;
		text-decoration: none;
	}
}

#welcome{
	background-color: #f4f3f8;
	padding: $padding-caja;
	border-bottom: 2px solid $color-cafe;
	h2{
		color: $color-naranja;
		margin-bottom: 40px;
	}
	p{
		text-align: justify;
		margin-bottom: 20px;
	}
	ul{
		list-style: none;
		margin-left: -40px;
		li{
			margin-bottom: 5px;
			i{
				color: $color-naranja;
			}
		}
	}
}

#about-gift{
	padding: $padding-caja;
	background-color: $color-cafe-especial;
	color: $color-cafe-claro;
	border-bottom: 2px solid gray;
	.p-especial{
		margin-top:-10px;
	}
}

footer{
	padding: 70px 0 0;
	background-color: $color-cafe;
	color: $color-cafe-claro;
	img{
		background-color: $color-cafe-claro;
		border: 10px solid $color-naranja;
		border-radius: 100px;
	}
	h4{
		font-weight: bolder;
	}
	.comilla{
		font-size: 2em;
		color: $color-naranja;
	}
	h5{
		padding-top: 20px;
	}
	.caja-footer{
		padding-bottom: 20px;
		border-bottom: 1px solid $color-cafe-claro;
	}
	.caja-footer-2{
		padding-top:20px;
	}
}